.todo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.todo-title{
    color: red;
    text-align: center;
    margin-bottom: 20px;

}
.todo-add{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.todo-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #ccc;
    width: 300px;
}

.todo-btn-add {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    background-color: #04ce33;
    color: white;
    cursor: pointer;
}


.todo-list {
    border: 1px solid #ccc;
    width: 600px;
    border-radius: 12px;
    padding: 20px;

}

.todo-logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.todo-logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.todo-logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .todo-logo {
    animation: logo-spin infinite 10s linear;
  }
}

.todo-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}